<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>Hospedar.com - {{title}}</title>
    {% else %}
        <title>Hospedar.com</title>
    {% endif %}

    <!--bootstrap4-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-md navbar-light bg-primary">
        <!--logo-->
        <a class="navbar-brand text-white" href="{{ url_for('main.home') }}">Hospedar.com</a>
        <!--toggle button-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--Hospedagem-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hospedagem
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Listar</a>
                        <a class="dropdown-item" href="#">Cadastrar</a>
                    </div>
                </li>

                <!--Hóspede-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hóspede
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Listar</a>
                        <a class="dropdown-item" href="#">Cadastrar</a>
                        <a class="dropdown-item" href="#">Alterar dados</a>
                        <a class="dropdown-item" href="#">Deletar</a>
                    </div>
                </li>

                <!--Tipo de pagamento-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tipo de pagamento
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('tipo_pagamento.listar') }}">Listar</a>
                        <a class="dropdown-item" href="{{ url_for('tipo_pagamento.cadastrar') }}">Cadastrar</a>
                        <a class="dropdown-item" href="{{ url_for('tipo_pagamento.deletar') }}">Deletar</a>
                    </div>
                </li>

                <!--Quarto-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Quarto
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('quarto.listar') }}">Listar</a>
                        <a class="dropdown-item" href="{{ url_for('quarto.cadastrar') }}">Cadastrar</a>
                        <a class="dropdown-item" href="{{ url_for('quarto.alterar') }}">Alterar disponibilidade</a>
                        <a class="dropdown-item" href="{{ url_for('quarto.deletar') }}">Deletar</a>

                    </div>
                </li>

                <!--Tipo de quarto-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tipo de quarto
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('tipo_quarto.listar') }}">Listar</a>
                        <a class="dropdown-item" href="{{ url_for('tipo_quarto.cadastrar') }}">Cadastrar</a>
                        <a class="dropdown-item" href="{{ url_for('tipo_quarto.alterar') }}">Alterar valor</a>
                        <a class="dropdown-item" href="{{ url_for('tipo_quarto.deletar') }}">Deletar</a>
                    </div>
                </li>

                <!--Funcionário-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Funcionário
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Listar</a>
                        <a class="dropdown-item" href="#">Cadastrar</a>
                        <a class="dropdown-item" href="#">Alterar dados</a>
                        <a class="dropdown-item" href="#">Deletar</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!--content-->
    <div class="container mt-3">
        {% block content %} {% endblock content %}
    </div>
</body>
</html>