{% extends 'base.html' %}

{% block content %}
    <h1>Dashboard</h1>
    <div class="row">
        <div class="col-md-4 mt-3">
            <ul class="list-group">
                <li class="list-group-item bg-info text-white">Hospedagem <span class="badge badge-warning">X</span></li>
                <li class="list-group-item list-group-item-action disabled">Ativas - X</li>
                <li class="list-group-item list-group-item-action disabled">Total a receber - X</li>
                <li class="list-group-item list-group-item-action disabled">Total recebido - X</li>
            </ul>
        </div>
        <div class="col-md-4 mt-3">
            <ul class="list-group">
                <li class="list-group-item bg-info text-white">Quartos <span class="badge badge-warning">{{ qt_quartos }}</span></li>
                <li class="list-group-item list-group-item-action disabled">Disponíveis - {{ qt_quartos_disp }}</li>
                <li class="list-group-item list-group-item-action disabled">Reservados - {{ qt_quartos_indisp }}</li>
            </ul>
        </div>
        <div class="col-md-4 mt-3">
            <ul class="list-group">
                <li class="list-group-item bg-info text-white">Pessoas <span class="badge badge-warning">X</span></li>
                <li class="list-group-item list-group-item-action disabled">Hóspedes - X</li>
                <li class="list-group-item list-group-item-action disabled">Funcionários - X</li>
            </ul>
        </div>
    </div>
{% endblock content%}