{% extends 'base.html' %}

{% block content %}
    <h1 class="mt-3">Lista de quartos</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nº do quarto</th>
                <th scope="col">Disponível</th>
                <th scope="col">Tipo do quarto</th>
                <th scope="col">Valor da diária</th>
            </tr>
        </thead>
        <tbody>
            {% for quarto in quartos %}
            <tr>
                <td scope="row">{{ quarto['NU_QUARTO'] }}</td>
                {% if quarto['IN_DISPONIVEL'] %}
                    <td scope="row">sim</td>
                {% else %}
                    <td scope="row">não</td>
                {% endif %}
                <td scope="row">{{ quarto['NO_TIPO_QUARTO'] }}</td>
                <td scope="row">R$ {{ quarto['VL_DIARIA'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content%}