{% extends 'base.html' %}
{% from 'macros.html' import flash %}

{% block content %}
    <h1>Alterar disponibilidade do quarto</h1>
    {{ flash() }}

    <form action="{{ url_for('quarto.alterar') }}" method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="ID_QUARTO">Número do quarto</label>
                <select id="ID_QUARTO" name="ID_QUARTO" class="form-control" required>
                    {% for quarto in quartos %}
                        <option value="{{ quarto['ID_QUARTO'] }}">{{ quarto['NU_QUARTO'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="IN_DISPONIVEL">Quarto disponível</label>
               <select id="IN_DISPONIVEL" name="IN_DISPONIVEL" class="form-control" required>
                    <option value="1">SIM</option>
                    <option value="0">NÃO</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Alterar</button>
    </form>
{% endblock content%}