{% extends 'base.html' %}

{% block content %}
    <h1 class="mt-3">Deletar quarto</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="post" action="{{ url_for('quarto.deletar') }}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nu_quarto">Número do quarto</label>
                <select id="nu_quarto" name="nu_quarto" class="form-control" required>
                    {% for quarto in quartos %}
                        <option value="{{ quarto['NU_QUARTO'] }}">{{ quarto['NU_QUARTO'] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>

{% endblock content%}