{% extends 'base.html' %}
{% from 'macros.html' import flash %}

{% block content %}
    <h1>Tipos de quarto e seus valores</h1>
    {{ flash() }}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo de quarto</th>
            <th scope="col">Valor da diária</th>
        </tr>
        </thead>
        <tbody>
        {% for tipo in tipo_quarto %}
            <tr>
                <td scope="row">{{ tipo['ID_TIPO_QUARTO'] }}</td>
                <td>{{ tipo['NO_TIPO_QUARTO'] }}</td>
                <td>R$ {{ tipo['VL_DIARIA'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content%}