{% extends 'base.html' %}
{% from 'macros.html' import flash %}

{% block content %}
    <h1>Alterar valor da diária</h1>
    {{ flash() }}

    <form action="{{ url_for('tipo_quarto.alterar') }}" method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="ID_TIPO_QUARTO">Tipo do quarto</label>
                <select id="ID_TIPO_QUARTO" name="ID_TIPO_QUARTO" class="form-control" required>
                    {% for tipo in tipo_quarto %}
                        <option value="{{ tipo['ID_TIPO_QUARTO'] }}">{{ tipo['NO_TIPO_QUARTO'] }} - R$ {{ tipo['VL_DIARIA'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="VL_DIARIA">Valor da diária</label>
                <input id="VL_DIARIA" name="VL_DIARIA" class="form-control" type="number" min="1" step="any" placeholder="Novo valor da diária em real" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Alterar</button>
    </form>
{% endblock content%}